


body {
    background-color: #f0f0f0; /* Couleur de fond */
}
#countdown{
    background-color: #FFBBF4;
    width: 7.5em;
   border: 2px solid  #F7CD4F;
float: right;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}

#para{
    border: 8px solid #F7CD4F;
    border-radius: 20px;
    height: 100px;
    margin-top: 5%;
    text-align: center; /* Aligne le texte à droite à l'intérieur de l'élément #para */
  
}
.quiz{
    padding:20px 0;
}
.quiz h2{
    font-size: 18;
    color:black;
    font-weight: 600;

}
/*answer*/
.btn{
  background: #FFBBF4; 
   color: #222;
   font-weight: 500;
   width:40%;
   border: 1px solid #222;
   padding: 10px; 
   margin: 10px 30px;
   text-align: center;
   border-radius: 20px;
   cursor: pointer;
}
 #next-btn{
    background-color: #04AA6D;

    color: black;
    font-weight: 500;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
 }       
    
    
   
